
body{
    font-family: Bad Script;
background: linear-gradient(to bottom, rgb(65, 63, 64), rgb(27, 26, 26), rgb(68, 65, 67)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #ccc;
    font-family: Bad Script;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 6px;

  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .Cdropbtn, .dropdown .Ldropbtn {
    border-radius: 6px;

    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: #ccc;
    font-family: Bad Script;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .Cdropbtn, .Cdropbtn:focus, .dropdown:hover .Ldropbtn, .Ldropbtn:focus {
    background-color:   rgb(187, 77, 60);


  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    font-family: Bad Script;

    background-color: #ccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ccc;
  }
  
  .show {
    display: block;
  }
  
  
  .container {
    padding: 2px 16px;
  }
  h4{
      color:rgb(187, 77, 60);
  }

  [type="date"] {
  background:#ccc url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;

}
.time{

  position: absolute;
  right: 70px;
  color:rgb(187, 77, 60);
  font-size: 15px;
  font-weight: normal;
  border-radius: 6px;

}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(187, 77, 60);
  transition: 0.3s; 
  background-color:rgb(65, 63, 60);
  border-radius: 15px;

}

span{
  color:#ccc;
  margin-left: 10px;
}
ul{
  list-style-type: none;

}